{{ define "content" }}
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript">
yo
</script>

<address>
Email: <a href="mailto:kawikadembroski@gmail.com">kawikadembroski@gmail.com</a> <br>
Phone: (719) 659-2721 <br>
<br>
Linkedin: <a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/kawika-joseph-dembroski-413a953aa?trk=profile-badge">Kawika Joseph Dembroski</a><br>
Github: <a href = "https://github.com/kawiggles">github.com/kawiggles</a> <br>
Jellyfin: <a href="https://jellyfin.kawiggles.com">jellyfin.kawiggles.com</a> <br>
Nextcloud: <a href="https://nextcloud.kawiggles.com">nextcloud.kawiggles.com</a> <br>
Archideckt: <a href="https://archidekt.com/u/KJTD">archidekt.com/u/KJTD</a>
</address>

{{ end }}
