{{ define "content" }}

<h2>Technical Skills</h2>

<h3>Programming</h3>

<h3>Systems Administration</h3>

<h3>Logic and Reasoning</h3>

<h2>Work History</h2>
<h3>U.S. Air Force Academy Association and Foundation</h3>
<p>March 2026 - Present</p>

<h3>Goodwin Knight, LLC</h3>
<p>January 2024 - January 2025</p>

<h3>Aspen View Homes</h3>
<p>July 2020 - August 2021</p>

<h2>Hobbies</h2>
<p>This may seem strange to include on a resume, which is why this isn't on my actual resume. But I think that knowing a person's hobbies and interests lets you get a better idea of who that person is. Plus I just like talking about my hobbies</p>

<h3>Tabletop Gaming</h3>

<h3>Philosophy</h3>

<h3>Bass Guitar</h3>

<h3>Bouldering</h3>

{{ end }}
